@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#00132e,#000814);
    min-height:100vh;
    padding:40px 8%;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:80px;
}

.logo{
    color:#3ea6ff;
    font-size:32px;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav a:hover,
.active{
    color:#3ea6ff;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}

.photo{
    flex:1;
    display:flex;
    justify-content:center;
}

.photo-box{
    width:320px;
    height:400px;
    background:#111;
    border-radius:20px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
}

.content{
    flex:1;
}

.content h1{
    color:white;
    font-size:60px;
}

.content h1 span{
    color:#3ea6ff;
}

.content h2{
    color:white;
    font-size:32px;
    margin-top:10px;
}

.content h2 span{
    color:#3ea6ff;
}

.content p{
    color:#b8b8b8;
    margin:20px 0;
    line-height:30px;
}

/* SOCIAL */

.social{
    display:flex;
    gap:15px;
    margin-bottom:25px;
}

.social a{
    width:45px;
    height:45px;
    border-radius:50%;
    border:2px solid #3ea6ff;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#3ea6ff;
    text-decoration:none;

    transition:.3s;
}

.social a:hover{
    background:#3ea6ff;
    color:black;
}

/* BUTTON */

button{
    padding:14px 35px;
    border:none;
    border-radius:30px;
    background:#3ea6ff;
    color:black;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px #3ea6ff;
}

/* RESPONSIVE */

@media (max-width: 768px){

    body{
        padding:25px;
    }

    nav{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .photo{
        width:100%;
    }

    .photo-box{
        width:250px;
        height:320px;
    }

    .content{
        width:100%;
    }

    .content h1{
        font-size:38px;
    }

    .content h2{
        font-size:24px;
    }

    .content p{
        font-size:14px;
        line-height:24px;
    }

    .social{
        justify-content:center;
    }

    button{
        width:100%;
        max-width:250px;
    }
}